<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enyteam.abc.smartkitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_kitchen_icon"
        android:label="@string/app_display_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContainerStatusActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.STATUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OrderActivity"
            android:label="@string/cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopListingActivity"
            android:label="@string/store"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NeuraSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name=".services.SmartFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".receivers.HandleNeuraStateAlertReceiver">
            <intent-filter>
                <action android:name="com.neura.android.ACTION_NEURA_STATE_ALERT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>